<extend name="Public/base" />

<block name="css"></block>

<block name="style"></block>

<block name="header"></block>

<block name="body">
    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                     
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="js"></block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            $(document).on('click', '.ajax-post', function() {
                var _this = this;
                if ($(_this).hasClass('confirm')) {
                    if (!confirm('确认要执行该操作吗?')) {
                        return false;

                    }
                    $.ajax({
                        type: "post",
                        url: $(_this).attr('target-url'),
                        dataType: "json",
                        data: $('.' + $(_this).attr('target-form')).serialize(),
                        success: function(data) {
                            if (data.status == 1) {
                                alert(data.info);
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>
</block>