<extend name="Public/base" />

<block name="body">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <if condition="$id">
                    <header class="panel-heading">
                        <a href="{:U('add', array('pid'=>$id, 'last'=>1))}" class="btn btn-link">增加菜单</a>|
                        <a href="{:U('add', array('pid'=>$id, 'last'=>0))}" class="btn btn-link">增加菜单组</a>
                        <a href="javascript:window.history.go(-1);" class="btn btn-link pull-right">返回</a>
                    </header>
                </if>
                <div class="panel-body">
                    <table class="table table-bordered text-center">
                        <tr>
                            <td>名称</td>
                            <td>链接</td>
                            <td>描述</td>
                            <td>排序</td>
                            <td>隐藏</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                        <notempty name="data">
                            <volist name="data" id="info">
                                <tr>
                                    <td>
                                        <if condition="$info.is_last eq 0"><a href="{:U('index', array('pid' => $info['id']))}" class="switchClick">{$info.name}</a>
                                            <else />{$info.name}</if>
                                    </td>
                                    <td>{$info.url}</td>
                                    <td>{$info.description}</td>
                                    <td>{$info.sort}</td>
                                    <td>
                                        <a href="javascript:;" class="text-primary ajax-get" target-url="{:U('edit', array('model' => 'hide', 'id'=> $info['id'], 'version' => $info['version']))}">
                                            <if condition="$info.is_hide eq 1"> 是
                                                <else /> 否
                                            </if>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-primary ajax-get" target-url="{:U('edit', array('model' => 'status', 'id' => $info['id'], 'version' => $info['version']))}">
                                            <if condition="$info.status eq 1"> 正常
                                                <else /> 禁止
                                            </if>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{:U('edit',array('model' => 'info', 'id' => $info['id']))}" class="text-primary">编辑</a>
                                        <if condition="$info['pid'] neq 0">
                                            <a href="javascript:;" class="text-primary ajax-get" target-url="{:U('edit', array('model' => 'delete', 'id' => $info['id'], 'version' => $info['version']))}">删除</a>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                        </notempty>
                    </table>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            $(document).on('click','.ajax-get',function(){
                var e = this;
                $(e).attr('disabled', true);
                $.ajax({
                    type: 'get',
                    url: $(e).attr('target-url'),
                    cache: false,
                    success: function (data) {
                        $(e).attr('disabled', false);
                        alert(data.info);
                        if (data.status) {
                            window.location.href = window.location.href;
                        }
                    },
                    error: function () {
                        alert("网络出错,请重试");
                    }
                });
            });
        });
    </script>
</block>